[Desktop Entry]
Name=Tile World
Comment=Tile World game port
Exec=tileworld.dge
Icon=tileworld
Categories=games;
Terminal=false
Type=Application
StartupNotify=true
